<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Drools Evaluation Test - datura.io</title>
</head>
<body>
  <div class="container">
  	<!-- title -->
    <div class="row">
      <div class="col">
        <h1>Drools Evaluation</h1>
      </div>
    </div>
    <!-- explanation -->
    <div class="row">
      <div class="col-9">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ipsum quam, pellentesque sit amet justo in, rhoncus iaculis nunc. Nam.</p>
      </div>
    </div>
    <!-- call list -->
	<div class="callList"></div>
  </div>
  
  <script src="js/calls.js"></script>
</body>
</html>
